[Unit]
Description=Keymaster cert generation service
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/sbin/setcap cap_net_bind_service=+ep /usr/sbin/keymasterd
ExecStart=/usr/sbin/keymasterd
Restart=always
RestartSec=20
User=keymaster
Group=keymaster

[Install]
WantedBy=multi-user.target
