{{define "footer_extra"}}
<span class="footer-links">
  <span class="footer-sep">|</span>
  <a href="https://docs.google.com/document/d/e/2PACX-1vTuPck1guLW4IJzmktioifZ1VyEbCTYCiMyWe-5NPdIAq3pr61kAmpSc6gMciquemKIicw31-0UdCfR/pub"> Design Doc </a>
  <span class="footer-sep">|</span>
  <a href="https://github.com/Cloud-Foundations/keymaster"> Source Code </a>
</span>
{{end}}

